<div class="main-body-inner page ">
  <div class="container home-container">

    <div class="row stats">
      <div class="col-lg-4" *ngFor='let stat of stats'>
        <div class="box first">
          <span class="title">{{stat.name}} : {{stat.value}}</span>
          <p class="subtitle">{{stat.subtitle}}</p>
          <i class="fa {{stat.icon}}" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12" *ngFor='let n of notification'>
<div *ngIf='n?.show'>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
{{n.important}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div></div>
</div> -->
    <div class="row">
      <div class="col-lg-6">
        <div class="box-my-list">
          <div class="title">Quick Access</div>
          <div class="insides row" *ngFor='let drug of drugs' style="margin:0px;">
            <div class="mt-auto mb-auto col-lg-3">
              <span class="name">{{drug.name}}</span>
            </div>
            <div class="col-lg-9 btn-group"> <a href="" class="btn btn-primary">More Information</a>
              <a href="" class="btn btn-primary">Combinations</a></div>
          </div>
          <!-- <div class="inside">
      <div class="outline"></div>
      <a href="javascript:void(0)" *ngFor='let drug of drugs' (click)="doSearch(spann.value)" class="badge badge-pill badge-primary category favourites">
          <input type="text" class="form-control"  placeholder="Search" #spann value="{{drug.name}}" hidden>{{drug.name}}
      </a> 
  </div> -->
        </div>
      </div>

      <!-- <div class="col-lg-4">
<a href="javascript:void(0)" *ngFor='let drug of drugs' (click)="doSearch(spann.value)" class="badge badge-pill badge-primary category">
 
    <input type="text" class="form-control"  placeholder="Search" #spann value="{{drug.name}}" hidden>{{drug.name}}
  </a> 
</div> -->


 
    </div>
    <!-- <div class="row home-menu-box" *ngFor='let drug of drugs'>
  <div class="col-lg-2 inside-one">
    {{drug.name}}
  </div>
  <div class="col-lg-8">
    <div class="container-that-hides">
    <div class="holder-for-effects">
    <span class="badge badge-pill badge-primary category">{{drug.category}}</span>
    <span class="badge badge-pill badge-secondary">Secondary</span>
    <span class="badge badge-pill badge-success">Success</span>
    <span class="badge badge-pill badge-danger">Danger</span>
    <span class="badge badge-pill badge-warning">Warning</span>
    <span class="badge badge-pill badge-info">Info</span>
    <span class="badge badge-pill badge-light">Light</span>
    <span class="badge badge-pill badge-dark">Dark</span>
  </div></div></div>
  <div class="col-lg-2 lets-get-lg-fked">
    <div class="input-group-append">
      <button class="btn btn-primary full-width and-the-btn-inside-it">Search</button>
    </div>
  </div>
</div> -->

    <!--  -->




  </div>
</div>
