<!-- <a (click)="friendsSwtich(1);"><div class="usersonline" [ngClass]="{'friends-up': friendsSwtichStatus === 1}" >
  <div class="holder">
  <div class="title">My Friends</div>
  <div class="inside">
    <a href="javascript:void(0)" *ngFor='let useon of usersonline' class="">{{useon.username}}
    <span class="status online"></span> 
    </a>
    <a href="javascript:void(0)" *ngFor='let useoff of usersoffline' class="">{{useoff.username}}
         <span class="status offline"></span> 
        </a>
  </div></div>
</div>
</a> -->

<!-- Search Module -->
<div class="col-lg-12 col-md-6 home-search" *ngFor='let drug of dataService.results'>
    <div class="card">
      <div class="close" (click)="closeSearch('')"></div>
      <div class="row" style="margin:0px;">
      <div class="col-lg-4">
      <img class="card-img-top" src="{{drug.thumbnail}}"></div>
      <div class="col-lg-8 m-auto"> <div class="card-body">
        <div class="holder"> <h5 class="card-title">{{drug.name}}</h5>
        <span class="card-line"></span></div>
        <b class="card-text">ALT NAMES:</b>{{drug.alt_names}}
        <p class="card-text">{{drug.description}}</p>
        <a routerLink='drug/{{drug.slug}}' class="btn btn-primary full-width">About</a>
        <a href="#" class="btn btn-primary full-width">Safety</a>
        <a href="#" class="btn btn-primary full-width">Combinations</a>
      </div>
    </div>
    </div>
    </div>
</div>

<!-- Friends Module -->
<a (click)="friendsSwtich(1);">
  <div class="friends-button" [ngClass]="{'shown': friendsSwtichStatus === 1}">
    <i class="fa fa-users" aria-hidden="true"></i>
  </div>
</a>

<div class="off-canvas-friends" [ngClass]="{'shown': friendsSwtichStatus === 1}">
  <div class="">
    <div class="title">My Friends</div>
    <div class="inside">
      <a href="javascript:void(0)" *ngFor='let useon of usersonline' class="">{{useon.username}}
      <span class="status online"></span> 
      </a>
      <a href="javascript:void(0)" *ngFor='let useoff of usersoffline' class="">{{useoff.username}}
           <span class="status offline"></span> 
          </a>
    </div>
  </div>
</div>
